<template>
    <div class="min-h-full">
        <router-view />
    </div>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            //
        };
    },
    created() {},
    methods: {},
};
</script>
