<template>
  <navbar />
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold text-gray-900">E-Meterai</h1>
        <div class="flex items-center">
          <div class="mr-2">Saldo:</div>
          <div
            class="bg-indigo-100 text-indigo-700 py-1 px-3 rounded font-bold"
          >
            {{ saldo_emeterai }}
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="max-w-2xl mx-auto py-6 sm:px-6 lg:px-8 lg:py-12">
      <div ref="dropRef" class="dropzone"></div>
    </div>
    <div
      v-if="hasQueue"
      class="max-w-screen-xl mx-auto pb-4 sm:px-6 lg:px-8 lg:pb-12"
    >
      <div
        class="
          shadow
          overflow-hidden
          border-b border-gray-200
          mb-4
          lg:mb-6
          sm:rounded-lg
        "
      >
        <table class="min-w-full divide-y divide-gray-200 text-sm">
          <thead class="bg-gray-50">
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              No
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              File Name
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              Status
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Action</span>
            </th>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="job in estampJobs" :key="job.id">
              <td class="w-1/12 px-6 py-2 whitespace-nowrap">{{ job.id }}</td>
              <td class="w-6/12 px-6 py-2 whitespace-nowrap">
                {{ job.upload_name }}
              </td>
              <td class="w-4/12 px-6 py-2 whitespace-nowrap">
                {{ job.estamp_job_status }}
              </td>
              <td class="w-2/12 px-6 py-2 whitespace-nowrap text-right text-sm">
                <div
                  v-if="
                    job.estamp_job_status !== 'waiting' &&
                    job.estamp_job_status !== 'Completed'
                  "
                  class="inline-flex p-1 items-center"
                >
                  <svg
                    class="animate-spin h-4 w-4 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    ></path>
                  </svg>
                </div>
                <button
                  v-if="processing == false"
                  onclick="confirm('Are you sure you wanna delete this Record?') || event.stopImmediatePropagation()"
                  class="
                    inline-flex
                    items-center
                    p-1
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:border-none
                    focus:outline-none
                    focus:ring-0
                    focus:ring-red-500
                  "
                  @click="deleteQueueDoc(job.id)"
                >
                  <TrashIcon class="h-4 w-4" aria-hidden="true" />
                </button>
                <button
                  v-if="job.estamp_job_status == 'Completed'"
                  class="
                    inline-flex
                    items-center
                    p-1
                    ml-1
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-indigo-600
                    hover:bg-indigo-700
                    focus:border-none
                    focus:outline-none
                    focus:ring-0
                    focus:ring-indigo-500
                  "
                  @click="downloadQueueDoc(job.id)"
                >
                  <DownloadIcon class="h-4 w-4" aria-hidden="true" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center">
        <button
          type="button"
          @click="clearQueue()"
          class="
            inline-flex
            items-center
            px-4
            py-2
            mx-4
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-red-400
            hover:bg-red-500
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-red-300
            disabled:opacity-50
            disabled:hover:bg-red-400
            disabled:cursor-not-allowed
          "
        >
          <div class="flex">
            <TrashIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
            Clear Queue
          </div>
        </button>
        <button
          type="button"
          @click="processStamping()"
          :disabled="processing != false"
          class="
            inline-flex
            items-center
            px-4
            py-2
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
            disabled:opacity-50
            disabled:hover:bg-indigo-600
            disabled:cursor-not-allowed
          "
        >
          <div v-if="processing != true" class="flex">
            <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
            Process Files
          </div>
          <div v-if="processing == true" class="flex">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing
          </div>
        </button>
      </div>

      <div class="text-center text-red-500 mt-8">
        {{ errorMessage }}
      </div>
    </div>
  </main>
</template>

<script>
import { ref, onMounted, defineComponent } from "vue";
import { BadgeCheckIcon, TrashIcon, DownloadIcon } from "@heroicons/vue/solid";
//import { mutateFields } from "../helpers/helpers.js";
import Navbar from "../components/Navbar.vue";
import { Dropzone } from "dropzone";
import "dropzone/dist/dropzone.css";
import { saveAs } from "file-saver";

export default {
  name: "Upload Doc",
  components: {
    Navbar,
    BadgeCheckIcon,
    TrashIcon,
    DownloadIcon,
  },
  data() {
    return {
      login_token: this.$store.state.login_token,
      upload_docs: [],
      uploadDocs: [],
      uploadServer: {
        process: {
          url: "./api/upload",
          method: "POST",
          headers: {
            "X-CSRF-TOKEN": document.head.querySelector(
              'meta[name="csrf-token"]'
            ).content,
          },
          withCredentials: false,
          onload: null,
          onerror: null,
          ondata: null,
        },
      },
      estampJobs: {},
      getEstampJobsUrl: "",
      isError: false,
      errorMessage: "",
      hasQueue: false,
      processing: false,
      saldo_emeterai: 0,
      csrf_token: document.head.querySelector("[name=csrf-token]").content,
    };
  },
  beforeRouteEnter(to, from, next) {
    if (!window.Laravel.isLoggedin) {
      window.location.href = "/";
    }
    next();
  },
  mounted() {
    this.resetUploadDocs();
    this.getEstampJobs();
    this.getBalance();
    this.initDropZone();
  },
  methods: {
    initDropZone() {
      //console.log(this.$refs.dropRef);
      if (this.$refs.dropRef !== null) {
        const customPreview = `
      <div class="dz-preview dz-file-preview">
        <div class="flex">
          <div class="flex-none mr-3">
            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.0297 6.76406L14.9859 1.72031C14.8453 1.57969 14.6555 1.5 14.4562 1.5H4.5C4.08516 1.5 3.75 1.83516 3.75 2.25V21.75C3.75 22.1648 4.08516 22.5 4.5 22.5H19.5C19.9148 22.5 20.25 22.1648 20.25 21.75V7.29609C20.25 7.09687 20.1703 6.90469 20.0297 6.76406ZM18.5203 7.64062H14.1094V3.22969L18.5203 7.64062ZM18.5625 20.8125H5.4375V3.1875H12.5156V8.25C12.5156 8.51107 12.6193 8.76145 12.8039 8.94606C12.9885 9.13066 13.2389 9.23438 13.5 9.23438H18.5625V20.8125ZM11.8125 14.4844H7.5C7.39687 14.4844 7.3125 14.5687 7.3125 14.6719V15.7969C7.3125 15.9 7.39687 15.9844 7.5 15.9844H11.8125C11.9156 15.9844 12 15.9 12 15.7969V14.6719C12 14.5687 11.9156 14.4844 11.8125 14.4844ZM7.3125 11.4844V12.6094C7.3125 12.7125 7.39687 12.7969 7.5 12.7969H16.5C16.6031 12.7969 16.6875 12.7125 16.6875 12.6094V11.4844C16.6875 11.3812 16.6031 11.2969 16.5 11.2969H7.5C7.39687 11.2969 7.3125 11.3812 7.3125 11.4844Z" fill="#3B82F6"/>
            </svg>
          </div>
          <div class="dz-details">
            <div class="block mb-1">
              <div class="dz-filename"><span data-dz-name></span></div>
              <div class="dz-error-message"><span data-dz-errormessage></span></div>
            </div>
            <div class="block relative">
              <div class="dz-size"><span data-dz-size></span></div>
              <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress></span>
              </div>
            </div>
              <div class="dz-success-mark">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.72 8.79L10.43 13.09L8.78 11.44C8.69036 11.3353 8.58004 11.2503 8.45597 11.1903C8.33191 11.1303 8.19678 11.0965 8.05906 11.0912C7.92134 11.0859 7.78401 11.1091 7.65568 11.1594C7.52736 11.2096 7.41081 11.2859 7.31335 11.3833C7.2159 11.4808 7.13964 11.5974 7.08937 11.7257C7.03909 11.854 7.01589 11.9913 7.02121 12.1291C7.02653 12.2668 7.06026 12.4019 7.12028 12.526C7.1803 12.65 7.26532 12.7604 7.37 12.85L9.72 15.21C9.81344 15.3027 9.92426 15.376 10.0461 15.4258C10.1679 15.4755 10.2984 15.5008 10.43 15.5C10.6923 15.4989 10.9437 15.3947 11.13 15.21L16.13 10.21C16.2237 10.117 16.2981 10.0064 16.3489 9.88458C16.3997 9.76272 16.4258 9.63201 16.4258 9.5C16.4258 9.36799 16.3997 9.23728 16.3489 9.11542C16.2981 8.99356 16.2237 8.88296 16.13 8.79C15.9426 8.60375 15.6892 8.49921 15.425 8.49921C15.1608 8.49921 14.9074 8.60375 14.72 8.79V8.79ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2V2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20V20Z" fill="#3B82F6"/>
                </svg>
              </div>
              <div class="dz-error-mark">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.7101 8.29C15.6171 8.19627 15.5065 8.12188 15.3847 8.07111C15.2628 8.02034 15.1321 7.9942 15.0001 7.9942C14.8681 7.9942 14.7374 8.02034 14.6155 8.07111C14.4936 8.12188 14.383 8.19627 14.2901 8.29L12.0001 10.59L9.71008 8.29C9.52178 8.1017 9.26638 7.99591 9.00008 7.99591C8.73378 7.99591 8.47838 8.1017 8.29008 8.29C8.10178 8.47831 7.99599 8.7337 7.99599 9C7.99599 9.2663 8.10178 9.5217 8.29008 9.71L10.5901 12L8.29008 14.29C8.19635 14.383 8.12196 14.4936 8.07119 14.6154C8.02042 14.7373 7.99428 14.868 7.99428 15C7.99428 15.132 8.02042 15.2627 8.07119 15.3846C8.12196 15.5064 8.19635 15.617 8.29008 15.71C8.38304 15.8037 8.49364 15.8781 8.6155 15.9289C8.73736 15.9797 8.86807 16.0058 9.00008 16.0058C9.13209 16.0058 9.2628 15.9797 9.38466 15.9289C9.50652 15.8781 9.61712 15.8037 9.71008 15.71L12.0001 13.41L14.2901 15.71C14.383 15.8037 14.4936 15.8781 14.6155 15.9289C14.7374 15.9797 14.8681 16.0058 15.0001 16.0058C15.1321 16.0058 15.2628 15.9797 15.3847 15.9289C15.5065 15.8781 15.6171 15.8037 15.7101 15.71C15.8038 15.617 15.8782 15.5064 15.929 15.3846C15.9797 15.2627 16.0059 15.132 16.0059 15C16.0059 14.868 15.9797 14.7373 15.929 14.6154C15.8782 14.4936 15.8038 14.383 15.7101 14.29L13.4101 12L15.7101 9.71C15.8038 9.61704 15.8782 9.50644 15.929 9.38458C15.9797 9.26272 16.0059 9.13201 16.0059 9C16.0059 8.86799 15.9797 8.73729 15.929 8.61543C15.8782 8.49357 15.8038 8.38297 15.7101 8.29V8.29ZM19.0701 4.93C18.1476 3.9749 17.0442 3.21308 15.8241 2.68899C14.6041 2.1649 13.2919 1.88904 11.9641 1.8775C10.6363 1.86596 9.3195 2.11898 8.09054 2.62179C6.86158 3.1246 5.74506 3.86713 4.80613 4.80605C3.8672 5.74498 3.12467 6.8615 2.62186 8.09046C2.11905 9.31943 1.86604 10.6362 1.87757 11.964C1.88911 13.2918 2.16498 14.604 2.68907 15.824C3.21316 17.0441 3.97498 18.1475 4.93008 19.07C5.85255 20.0251 6.95599 20.7869 8.17603 21.311C9.39607 21.8351 10.7083 22.111 12.0361 22.1225C13.3639 22.134 14.6807 21.881 15.9096 21.3782C17.1386 20.8754 18.2551 20.1329 19.194 19.194C20.133 18.255 20.8755 17.1385 21.3783 15.9095C21.8811 14.6806 22.1341 13.3638 22.1226 12.036C22.111 10.7082 21.8352 9.396 21.3111 8.17596C20.787 6.95592 20.0252 5.85247 19.0701 4.93V4.93ZM17.6601 17.66C16.3521 18.9694 14.6306 19.7848 12.7889 19.9673C10.9471 20.1498 9.09909 19.6881 7.5596 18.6608C6.02012 17.6335 4.88444 16.1042 4.34605 14.3335C3.80767 12.5628 3.89988 10.6601 4.60699 8.94979C5.3141 7.23943 6.59235 5.82715 8.22397 4.95356C9.85559 4.07998 11.7396 3.79913 13.5551 4.15888C15.3705 4.51862 17.0051 5.49669 18.1803 6.92646C19.3555 8.35623 19.9986 10.1492 20.0001 12C20.0036 13.0513 19.7987 14.0928 19.397 15.0644C18.9953 16.0359 18.405 16.9182 17.6601 17.66V17.66Z" fill="#DC2626"/>
                </svg>
              </div>
          </div>
        </div>
      </div>
    `;
        const myDropzone = new Dropzone(this.$refs.dropRef, {
          previewTemplate: customPreview,
          url: "/api/dropzone",
          method: "POST",
          headers: {
            "X-CSRF-TOKEN": document.head.querySelector(
              'meta[name="csrf-token"]'
            ).content,
          },
          // previewsContainer:
          //   dropRef.value.parentElement.querySelector(".preview-container"),
          createImageThumbnails: false,
          acceptedFiles: "application/pdf",
          parallelUploads: "1",
        });

        if (this.$refs.dropRef.querySelector(".dz-default")) {
          this.$refs.dropRef.querySelector(".dz-default").innerHTML = `
            <div class="flex justify-center">
              <svg width="128" height="128" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.76 10.8C17.88 10.44 18 10.08 18 9.6C18 6.96 15.84 4.8 13.2 4.8C11.4 4.8 9.71995 5.88 8.99995 7.44C8.63995 7.32 8.15995 7.2 7.79995 7.2C6.11995 7.2 4.79995 8.52 4.79995 10.2C4.79995 10.44 4.79995 10.68 4.91995 10.8C2.75995 11.16 1.19995 12.84 1.19995 15C1.19995 17.28 3.11995 19.2 5.39995 19.2H9.59995V15.6H5.99995L11.4 10.2L16.8 15.6H13.2V19.2H17.4C19.68 19.2 21.6 17.28 21.6 15C21.6 12.84 19.92 11.04 17.76 10.8Z" fill="#3B82F6"/>
              </svg>
            </div>
            <p class="text-center"><strong>Drag and drop your files here or <span class="underline">Browse</span></strong></p>
            <p class="text-center text-gray-500 text-sm my-2">Your files will be uploaded automatically</p>
            <button class="dz-button hidden" type="button" style="border: 2px solid currentColor; padding: 10px; border-radius: 5px; font-weight: 700;">or select files</button>
          `;
        }

        myDropzone.on("addedfile", (file) => {
          // Add an info line about the added file for each file.
          //output.innerHTML += `<div>File added: ${file.name}</div>`;
          //console.log(file, " added");
        });

        myDropzone.on("complete", (file) => {
          //console.log(file);
          myDropzone.removeFile(file);
          this.getEstampJobs();
        });
      }
    },
    processDocs(error, file) {
      this.processing = false;
      let payload = {
        folder: file.serverId,
      };
      this.$store
        .dispatch("addToQueue", payload)
        .then((response) => {
          this.getEstampJobs();
        })
        .catch(function (error) {
          console.log(error);
        });
      this.$refs.uploadDocs.removeFile(file);
    },
    removeDocs(error, file) {
      this.$refs.uploadDocs.removeFile(file);
    },
    deleteQueueDoc(job_id) {
      axios.delete("/api/estamp-queue/delete/" + job_id).then((response) => {
        //this.$toast.success("File deleted successfully");
        this.getEstampJobs();
      });
    },
    clearQueue() {
      axios.delete("/api/estamp-queue/delete-all").then((response) => {
        //console.log(response.data);
        this.resetUploadDocs();
        this.hasQueue = false;
        this.getEstampJobs();
      });
    },
    async downloadQueueDoc(job_id) {
      await axios
        .get("/api/estamp-queue/download/" + job_id)
        .then((response) => {
          //console.log(response);
          let downloadUrl = response.data.downloadUrl;
          let fileName = response.data.fileName;
          axios({
            url: downloadUrl,
            method: "GET",
            responseType: "blob",
          }).then((res) => {
            //console.log(res.data);
            var FileSaver = require("file-saver");
            var blob = new Blob([res.data], { type: "application/pdf" });
            FileSaver.saveAs(blob, fileName);
          });
        });
    },
    resetUploadDocs() {
      this.upload_docs = [];
      this.$store.commit("resetUploadDocs", []);
    },
    async getBalance() {
      await this.getToken().then((response) => {
        if (!this.isError) {
          const payload = {
            token: this.login_token,
          };
          //console.log(this.login_token);
          axios.post("/api/get-balance", payload).then((response) => {
            //console.log(response.data.result.saldo);
            this.saldo_emeterai = response.data.result.saldo;
          });
        }
      });
    },
    async getEstampJobs() {
      this.getEstampJobsUrl = "/api/estamp-jobs";
      await axios.get(this.getEstampJobsUrl).then((response) => {
        this.estampJobs = response.data;
        if (this.estampJobs.length) {
          this.hasQueue = true;
        }
      });
    },
    async processStamping() {
      this.isError = false;
      this.errorMessage = "";
      this.processing = true;
      this.getToken().then(() => {
        const queue = this.estampJobs;
        if (!this.isError) {
          this.processQueue(queue).then(() => {
            //this.processing = false;
            this.processing = "done";
          });
        }
      });
    },
    async processQueue(queue) {
      try {
        for (let i = 0; i < queue.length; i += 1) {
          const login_token = this.login_token;
          let folder = queue[i].folder;
          let filename = queue[i].upload_name;
          let peruriUploadPayload = {
            id: queue[i].id,
            folder: folder,
            filename: filename,
            token: login_token,
          };
          //console.log(peruriUploadPayload);

          if (!this.isError) {
            this.estampJobs[i].estamp_job_status = "Uploading Doc...";
            const generateSnPayload = await this.peruriUploadDoc(
              peruriUploadPayload,
              i
            );
            //console.log("generateSnPayload: ", generateSnPayload);
            const stampingPayload = await this.peruriGenerateSn(
              generateSnPayload
            );
            //console.log("stampingPayload: ", stampingPayload);
            const downloadPayload = await this.peruriStamping(stampingPayload);
            //console.log("downloadPayload: ", downloadPayload);
            const peruriDownload = await this.peruriDownload(downloadPayload);
            //console.log("peruriDownload: ", peruriDownload);
          }
        }
      } catch {
        console.log(err);
      }
    },
    async getToken() {
      const data = JSON.stringify({
        // user: "semesta_indovest@yopmail.com",
        // password: "Peruri@123",
        user: "ics_emet@yopmail.com",
        password: "Qwerty123!",
      });
      const config = {
        method: "post",
        url: "https://backendservicedev.scm.perurica.co.id/api/users/login",
        headers: {
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJlbWFpbCI6InNlbWVzdGFfaW5kb3Zlc3RAeW9wbWFpbC5jb20iLCJpYXQiOjE2NDMwODI0MTIsImV4cCI6MTY0MzE2ODgxMiwiYXVkIjoiaHR0cHM6Ly95b3VyZG9tYWluLmNvbSIsImlzcyI6ImZlYXRoZXJzIiwic3ViIjoiNjE3NjVlYWZmYzIyYjMwMDI4ZWVhNTU5IiwianRpIjoiNGJlN2VlMGEtOTUwNS00ZGFmLTk2NWUtOGVkOTMwZGNhOGUxIn0.IbK_reCWJHKRclOMtwaoR6ReSaFQ7NGqJv9qgqMLsDk",
          "Content-Type": "application/json",
        },
        data: data,
      };
      await axios(config)
        .then((response) => {
          //console.log(response);
          if (response.data.statusCode == "00") {
            this.login_token = response.data.token;
            this.$store.commit("setLoginToken", response.data.token);
          } else {
            this.isError = true;
            this.errorMessage = response.data.result;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async peruriUploadDoc(peruriUploadPayload, queue_id) {
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriUploadDoc", peruriUploadPayload)
          .then((response) => {
            //console.log(response);
            if (response.statusCode == "00") {
              const id = response.id;
              const idfile = response.uploadId;
              const namafile = response.saveAs;
              const nodoc = response.noDoc;
              const tgldoc = response.tglDoc;
              const login_token = this.login_token;
              //console.log(idfile, namafile, nodoc, tgldoc);
              let generateSnPayload = {
                queue_id: queue_id,
                token: login_token,
                id: id,
                idfile: idfile,
                namafile: namafile,
                nodoc: nodoc,
                tgldoc: tgldoc,
              };
              resolve(generateSnPayload);
              //console.log(generateSnPayload);
              //this.peruriGenerateSn(generateSnPayload);
            } else {
              reject(Error("Error"));
              this.isError = true;
              this.errorMessage = response.message;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
    async peruriGenerateSn(payload) {
      this.estampJobs[payload.queue_id].estamp_job_status = "Generate SN...";
      //console.log(payload);
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriGenerateSn", payload)
          .then((response) => {
            //console.log(response);
            if (response.statusCode == "00") {
              const id = payload.id;
              const login_token = this.login_token;
              const idfile = payload.idfile;
              const fileStamp = "/sharefolder/final_" + payload.idfile + ".pdf";
              const serialNumber = response.serialNumber;
              const fileQr = "/sharefolder/" + response.fileQr;
              const file = "/sharefolder/doc_" + payload.idfile + ".pdf";
              let stampingPayload = {
                queue_id: payload.queue_id,
                id: id,
                token: login_token,
                docId: idfile,
                dest: fileStamp,
                refToken: serialNumber,
                spesimenPath: fileQr,
                src: file,
              };
              resolve(stampingPayload);
              //console.log(stampingPayload);
              //this.peruriStamping(stampingPayload);
            } else {
              reject(Error("Error"));
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
    async peruriStamping(payload) {
      //console.log(payload);
      this.estampJobs[payload.queue_id].estamp_job_status = "Stamping...";
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriStamping", payload)
          .then((response) => {
            //console.log(response);
            const login_token = this.login_token;
            //const nodoc = response.nodoc;
            //const tgldoc = response.tgldoc;
            //console.log(idfile, namafile, nodoc, tgldoc);
            let downloadPayload = {
              queue_id: payload.queue_id,
              id: payload.id,
              token: login_token,
              srcfileStamp: response.urlFile,
            };
            resolve(downloadPayload);
            //this.peruriDownload(downloadPayload);
          })
          .catch(function (error) {
            console.log(error);
            return;
          });
      });
    },
    async peruriDownload(payload) {
      //console.log(payload);
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriDownload", payload)
          .then((response) => {
            //console.log(response);
            this.estampJobs[payload.queue_id].estamp_job_status = "Completed";
            this.getBalance();
            resolve("Done");
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
  },
};
</script>

<style>
/* .custom-dropzone {
  border-style: dashed;
  border-width: 3px;
  padding: 20px;
}

.preview-container {
  border: none;
}
.dropzone .dz-preview .dz-details {
  opacity: 1;
} */
/* .dropzone .dz-complete {
  display: none;
} */
.dropzone {
  min-height: 100px;
  border-radius: 8px;
  padding: 20px;
  border: 2px dashed #3b82f6;
  background: white;
}
.dropzone .dz-message {
  margin: 2em 0;
}
.dropzone .dz-preview {
  display: block;
  margin: 0.5em 0;
  padding: 0.5625em;
  min-height: auto;
  border-radius: 0.5em;
  background: #bfdbfe;
  /* transition: opacity .15s ease-out; */
}
.dropzone .dz-preview .dz-image {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 0.5em;
  display: none;
}
.dropzone .dz-preview .dz-details {
  display: block;
  padding: 0 30px 0 0;
  position: relative;
  color: #000;
  line-height: 1.2;
  width: 100%;
  min-width: auto;
  max-width: none;
  text-align: left;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin: 0;
  font-size: 13px;
  order: 2;
}
.dropzone .dz-preview .dz-details .dz-size strong {
  font-weight: normal;
}
.dropzone .dz-preview.dz-success .dz-details .dz-size {
  opacity: 1;
}
.dropzone .dz-preview .dz-details .dz-filename {
  margin: 0 8px 0 0;
}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  padding: 0;
  border-radius: 0;
  background: none;
}
.dropzone .dz-preview .dz-details .dz-filename span {
  background: transparent;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: none;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  width: 24px;
  height: 24px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  margin-top: auto;
  top: 4px;
  left: auto;
  background: transparent;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 0;
  pointer-events: none;
  height: 10px;
  margin-top: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #3b82f6;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  opacity: 0;
}
</style>