<template>
  <navbar />
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold text-gray-900">E-Meterai</h1>
        <div class="flex items-center">
          <div class="mr-2">Saldo:</div>
          <div
            class="bg-indigo-100 text-indigo-700 py-1 px-3 rounded font-bold"
          >
            {{ saldo_emeterai }}
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="max-w-2xl mx-auto py-6 sm:px-6 lg:px-8 lg:py-12">
      <file-pond
        name="upload_docs"
        ref="uploadDocs"
        label-idle="Drag & Drop your files here or <span class='underline cursor-pointer'> Browse </span>"
        accepted-file-types="image/jpeg, application/pdf"
        v-bind:allow-browse="true"
        v-bind:allow-multiple="true"
        v-bind:max-parallel-uploads="3"
        v-bind:server="uploadServer"
        v-on:processfile="processDocs"
        v-on:removefile="removeDocs"
        credits="false"
      />
    </div>
    <div
      v-if="hasQueue"
      class="max-w-screen-xl mx-auto pb-4 sm:px-6 lg:px-8 lg:pb-12"
    >
      <div
        class="
          shadow
          overflow-hidden
          border-b border-gray-200
          mb-4
          lg:mb-6
          sm:rounded-lg
        "
      >
        <table class="min-w-full divide-y divide-gray-200 text-sm">
          <thead class="bg-gray-50">
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              No
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              File Name
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              Status
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Action</span>
            </th>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="job in estampJobs" :key="job.id">
              <td class="w-1/12 px-6 py-2 whitespace-nowrap">{{ job.id }}</td>
              <td class="w-6/12 px-6 py-2 whitespace-nowrap">
                {{ job.upload_name }}
              </td>
              <td class="w-4/12 px-6 py-2 whitespace-nowrap">
                {{ job.estamp_job_status }}
              </td>
              <td class="w-2/12 px-6 py-2 whitespace-nowrap text-right text-sm">
                <div
                  v-if="
                    job.estamp_job_status !== 'waiting' &&
                    job.estamp_job_status !== 'Completed'
                  "
                  class="inline-flex p-1 items-center"
                >
                  <svg
                    class="animate-spin h-4 w-4 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    ></path>
                  </svg>
                </div>
                <button
                  v-if="processing == false"
                  onclick="confirm('Are you sure you wanna delete this Record?') || event.stopImmediatePropagation()"
                  class="
                    inline-flex
                    items-center
                    p-1
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:border-none
                    focus:outline-none
                    focus:ring-0
                    focus:ring-red-500
                  "
                  @click="deleteQueueDoc(job.id)"
                >
                  <TrashIcon class="h-4 w-4" aria-hidden="true" />
                </button>
                <button
                  v-if="job.estamp_job_status == 'Completed'"
                  class="
                    inline-flex
                    items-center
                    p-1
                    ml-1
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-indigo-600
                    hover:bg-indigo-700
                    focus:border-none
                    focus:outline-none
                    focus:ring-0
                    focus:ring-indigo-500
                  "
                  @click="downloadQueueDoc(job.id)"
                >
                  <DownloadIcon class="h-4 w-4" aria-hidden="true" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center">
        <button
          type="button"
          @click="processStamping()"
          :disabled="processing != false"
          class="
            inline-flex
            items-center
            px-4
            py-2
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
            disabled:opacity-50
            disabled:hover:bg-indigo-600
            disabled:cursor-not-allowed
          "
        >
          <div v-if="processing != true" class="flex">
            <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
            Process Files
          </div>
          <div v-if="processing == true" class="flex">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing
          </div>
        </button>
      </div>

      <div class="text-center text-red-500 mt-8">
        {{ errorMessage }}
      </div>
    </div>
  </main>
</template>

<script>
import { BadgeCheckIcon, TrashIcon, DownloadIcon } from "@heroicons/vue/solid";
//import { mutateFields } from "../helpers/helpers.js";
import Navbar from "../components/Navbar.vue";
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
const FilePond = vueFilePond(FilePondPluginFileValidateType);
import { saveAs } from "file-saver";

export default {
  name: "Upload Doc",
  components: {
    Navbar,
    FilePond,
    BadgeCheckIcon,
    TrashIcon,
    DownloadIcon,
  },
  data() {
    return {
      login_token: this.$store.state.login_token,
      upload_docs: [],
      uploadDocs: [],
      // uploadServer: {
      //   url: "/api/upload",
      //   headers: {
      //     "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]')
      //       .content,
      //   },
      //   load: (source, load) => {
      //     fetch(source)
      //       .then((res) => res.blob())
      //       .then(load);
      //   },
      // },
      uploadServer: {
        process: {
          url: "./api/upload",
          method: "POST",
          headers: {
            "X-CSRF-TOKEN": document.head.querySelector(
              'meta[name="csrf-token"]'
            ).content,
          },
          withCredentials: false,
          onload: null,
          onerror: null,
          ondata: null,
        },
      },
      estampJobs: {},
      getEstampJobsUrl: "",
      isError: false,
      errorMessage: "",
      hasQueue: false,
      processing: false,
      saldo_emeterai: 0,
    };
  },
  beforeRouteEnter(to, from, next) {
    if (!window.Laravel.isLoggedin) {
      window.location.href = "/";
    }
    next();
  },
  mounted() {
    this.resetUploadDocs();
    this.getEstampJobs();
    this.getBalance();
  },
  methods: {
    processDocs(error, file) {
      this.processing = false;
      let payload = {
        folder: file.serverId,
      };
      this.$store
        .dispatch("addToQueue", payload)
        .then((response) => {
          this.getEstampJobs();
        })
        .catch(function (error) {
          console.log(error);
        });
      //this.$refs.uploadDocs.removeFile(file);
    },
    removeDocs(error, file) {
      this.$refs.uploadDocs.removeFile(file);
    },
    deleteQueueDoc(job_id) {
      axios.delete("/api/estamp-queue/delete/" + job_id).then((response) => {
        //this.$toast.success("File deleted successfully");
        this.getEstampJobs();
      });
    },
    async downloadQueueDoc(job_id) {
      await axios
        .get("/api/estamp-queue/download/" + job_id)
        .then((response) => {
          //console.log(response);
          let downloadUrl = response.data.downloadUrl;
          let fileName = response.data.fileName;
          axios({
            url: downloadUrl,
            method: "GET",
            responseType: "blob",
          }).then((res) => {
            //console.log(res.data);
            var FileSaver = require("file-saver");
            var blob = new Blob([res.data], { type: "application/pdf" });
            FileSaver.saveAs(blob, fileName);
          });
        });
    },
    resetUploadDocs() {
      this.upload_docs = [];
      this.$store.commit("resetUploadDocs", []);
    },
    async getBalance() {
      await this.getToken().then((response) => {
        if (!this.isError) {
          const payload = {
            token: this.login_token,
          };
          //console.log(this.login_token);
          axios.post("/api/get-balance", payload).then((response) => {
            //console.log(response.data.result.saldo);
            this.saldo_emeterai = response.data.result.saldo;
          });
        }
      });
    },
    async getEstampJobs() {
      this.getEstampJobsUrl = "/api/estamp-jobs";
      await axios.get(this.getEstampJobsUrl).then((response) => {
        this.estampJobs = response.data;
        if (this.estampJobs.length) {
          this.hasQueue = true;
        }
      });
    },
    async processStamping() {
      this.isError = false;
      this.errorMessage = "";
      this.processing = true;
      this.getToken().then(() => {
        const queue = this.estampJobs;
        if (!this.isError) {
          this.processQueue(queue).then(() => {
            //this.processing = false;
            this.processing = "done";
          });
        }
      });
    },
    async processQueue(queue) {
      try {
        for (let i = 0; i < queue.length; i += 1) {
          const login_token = this.login_token;
          let folder = queue[i].folder;
          let filename = queue[i].upload_name;
          let peruriUploadPayload = {
            id: queue[i].id,
            folder: folder,
            filename: filename,
            token: login_token,
          };
          //console.log(peruriUploadPayload);

          if (!this.isError) {
            this.estampJobs[i].estamp_job_status = "Uploading Doc...";
            const generateSnPayload = await this.peruriUploadDoc(
              peruriUploadPayload,
              i
            );
            //console.log("generateSnPayload: ", generateSnPayload);
            const stampingPayload = await this.peruriGenerateSn(
              generateSnPayload
            );
            //console.log("stampingPayload: ", stampingPayload);
            const downloadPayload = await this.peruriStamping(stampingPayload);
            //console.log("downloadPayload: ", downloadPayload);
            const peruriDownload = await this.peruriDownload(downloadPayload);
            //console.log("peruriDownload: ", peruriDownload);
          }
        }
      } catch {
        console.log(err);
      }
    },
    async getToken() {
      const data = JSON.stringify({
        user: "semesta_indovest@yopmail.com",
        password: "Peruri@123",
      });
      const config = {
        method: "post",
        url: "https://backendservicedev.scm.perurica.co.id/api/users/login",
        headers: {
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJlbWFpbCI6InNlbWVzdGFfaW5kb3Zlc3RAeW9wbWFpbC5jb20iLCJpYXQiOjE2NDMwODI0MTIsImV4cCI6MTY0MzE2ODgxMiwiYXVkIjoiaHR0cHM6Ly95b3VyZG9tYWluLmNvbSIsImlzcyI6ImZlYXRoZXJzIiwic3ViIjoiNjE3NjVlYWZmYzIyYjMwMDI4ZWVhNTU5IiwianRpIjoiNGJlN2VlMGEtOTUwNS00ZGFmLTk2NWUtOGVkOTMwZGNhOGUxIn0.IbK_reCWJHKRclOMtwaoR6ReSaFQ7NGqJv9qgqMLsDk",
          "Content-Type": "application/json",
        },
        data: data,
      };
      await axios(config)
        .then((response) => {
          //console.log(response);
          if (response.data.statusCode == "00") {
            this.login_token = response.data.token;
            this.$store.commit("setLoginToken", response.data.token);
          } else {
            this.isError = true;
            this.errorMessage = response.data.result;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async peruriUploadDoc(peruriUploadPayload, queue_id) {
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriUploadDoc", peruriUploadPayload)
          .then((response) => {
            //console.log(response);
            if (response.statusCode == "00") {
              const id = response.id;
              const idfile = response.uploadId;
              const namafile = response.saveAs;
              const nodoc = response.noDoc;
              const tgldoc = response.tglDoc;
              const login_token = this.login_token;
              //console.log(idfile, namafile, nodoc, tgldoc);
              let generateSnPayload = {
                queue_id: queue_id,
                token: login_token,
                id: id,
                idfile: idfile,
                namafile: namafile,
                nodoc: nodoc,
                tgldoc: tgldoc,
              };
              resolve(generateSnPayload);
              //console.log(generateSnPayload);
              //this.peruriGenerateSn(generateSnPayload);
            } else {
              reject(Error("Error"));
              this.isError = true;
              this.errorMessage = response.message;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
    async peruriGenerateSn(payload) {
      this.estampJobs[payload.queue_id].estamp_job_status = "Generate SN...";
      //console.log(payload);
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriGenerateSn", payload)
          .then((response) => {
            //console.log(response);
            if (response.statusCode == "00") {
              const id = payload.id;
              const login_token = this.login_token;
              const idfile = payload.idfile;
              const fileStamp = "/sharefolder/final_" + payload.idfile + ".pdf";
              const serialNumber = response.serialNumber;
              const fileQr = "/sharefolder/" + response.fileQr;
              const file = "/sharefolder/doc_" + payload.idfile + ".pdf";
              let stampingPayload = {
                queue_id: payload.queue_id,
                id: id,
                token: login_token,
                docId: idfile,
                dest: fileStamp,
                refToken: serialNumber,
                spesimenPath: fileQr,
                src: file,
              };
              resolve(stampingPayload);
              //console.log(stampingPayload);
              //this.peruriStamping(stampingPayload);
            } else {
              reject(Error("Error"));
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
    async peruriStamping(payload) {
      //console.log(payload);
      this.estampJobs[payload.queue_id].estamp_job_status = "Stamping...";
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriStamping", payload)
          .then((response) => {
            //console.log(response);
            const login_token = this.login_token;
            //const nodoc = response.nodoc;
            //const tgldoc = response.tgldoc;
            //console.log(idfile, namafile, nodoc, tgldoc);
            let downloadPayload = {
              queue_id: payload.queue_id,
              id: payload.id,
              token: login_token,
              srcfileStamp: response.urlFile,
            };
            resolve(downloadPayload);
            //this.peruriDownload(downloadPayload);
          })
          .catch(function (error) {
            console.log(error);
            return;
          });
      });
    },
    async peruriDownload(payload) {
      //console.log(payload);
      return new Promise((resolve, reject) => {
        this.$store
          .dispatch("peruriDownload", payload)
          .then((response) => {
            //console.log(response);
            this.estampJobs[payload.queue_id].estamp_job_status = "Completed";
            this.getBalance();
            resolve("Done");
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
  },
};
</script>