<template>
  <div
    class="
      min-h-full
      flex
      items-center
      justify-center
      py-12
      px-4
      sm:px-6
      lg:px-8
    "
  >
    <div class="relative max-w-xs w-full space-y-8">
      <loading
        :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="false"
        color="#007BFF"
      />
      <div>
        <img
          class="mx-auto h-12 w-auto"
          src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow"
        />
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign in
        </h2>
      </div>
      <div role="alert" v-if="error !== null">
        <div class="rounded-md p-4 text-sm bg-red-100 text-red-700">
          {{ error }}
        </div>
      </div>

      <form class="mt-8 space-y-6" action="#" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input
              id="email"
              type="email"
              v-model="email"
              required
              autofocus
              autocomplete="off"
              class="
                appearance-none
                rounded-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-t-md
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                focus:z-10
                sm:text-sm
              "
              placeholder="Email address"
            />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              v-model="password"
              required
              class="
                appearance-none
                rounded-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-b-md
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                focus:z-10
                sm:text-sm
              "
              placeholder="Password"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="
              group
              relative
              w-full
              flex
              justify-center
              py-2
              px-4
              border border-transparent
              text-sm
              font-medium
              rounded-md
              text-white
              bg-indigo-600
              hover:bg-indigo-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-indigo-500
              disabled:opacity-75
            "
            @click="handleSubmit"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <LockClosedIcon
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                aria-hidden="true"
              />
            </span>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { LockClosedIcon } from "@heroicons/vue/solid";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  components: {
    LockClosedIcon,
    Loading,
  },
  data() {
    return {
      email: "",
      password: "",
      error: null,
      login_token: null,
      isLoading: false,
    };
  },
  mounted() {
    localStorage.removeItem("emeterai");
    this.$store.commit("setLoginToken", "");
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.password.length > 0) {
        // let loader = this.$loading.show({
        //   container: this.$refs.formContainer,
        // });
        this.isLoading = true;
        this.$axios.get("/sanctum/csrf-cookie").then((response) => {
          this.$axios
            .post("api/login", {
              email: this.email,
              password: this.password,
            })
            .then((response) => {
              //console.log(response.data);
              if (response.data.success) {
                this.getToken().then((response) => {
                  //console.log(this.login_token);
                  //console.log(this.$store.state.login_token);
                  //loader.hide();
                  this.isLoading = false;
                  this.$router.go("/dashboard");
                });
              } else {
                this.error = response.data.message;
                //loader.hide();
                this.isLoading = false;
              }
            })
            .catch(function (error) {
              console.error(error);
            });
        });
      }
    },
    async getToken() {
      const data = JSON.stringify({
        user: "semesta_indovest@yopmail.com",
        password: "Peruri@123",
      });
      const config = {
        method: "post",
        url: "https://backendservicedev.scm.perurica.co.id/api/users/login",
        headers: {
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJlbWFpbCI6InNlbWVzdGFfaW5kb3Zlc3RAeW9wbWFpbC5jb20iLCJpYXQiOjE2NDMwODI0MTIsImV4cCI6MTY0MzE2ODgxMiwiYXVkIjoiaHR0cHM6Ly95b3VyZG9tYWluLmNvbSIsImlzcyI6ImZlYXRoZXJzIiwic3ViIjoiNjE3NjVlYWZmYzIyYjMwMDI4ZWVhNTU5IiwianRpIjoiNGJlN2VlMGEtOTUwNS00ZGFmLTk2NWUtOGVkOTMwZGNhOGUxIn0.IbK_reCWJHKRclOMtwaoR6ReSaFQ7NGqJv9qgqMLsDk",
          "Content-Type": "application/json",
        },
        data: data,
      };
      await axios(config)
        .then((response) => {
          //console.log(JSON.stringify(response.data));
          this.login_token = response.data.token;
          this.$store.commit("setLoginToken", response.data.token);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  beforeRouteEnter(to, from, next) {
    if (window.Laravel.isLoggedin) {
      return next("dashboard");
    }
    next();
  },
};
</script>
