<template>
  <navbar />
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Records</h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="shadow px-8 pt-8 pb-4 bg-white">
        <div class="flex justify-between mb-3 items-center">
          <div class="flex gap-2">
            <button
              type="button"
              @click="downloadSelectedDocs()"
              :disabled="canDownload == 0"
              class="
                inline-flex
                items-center
                px-4
                py-2
                border border-transparent
                rounded-md
                shadow-sm
                text-sm
                font-medium
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
                disabled:opacity-50
                disabled:hover:bg-indigo-600
                disabled:cursor-not-allowed
              "
            >
              <div class="flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="ml-2 inline-block"> Download Files </span>
              </div>
            </button>
            <button
              type="button"
              @click="deleteSelectedDocs()"
              :disabled="canDownload == 0"
              class="
                hidden
                items-center
                px-4
                py-2
                border border-transparent
                rounded-md
                shadow-sm
                text-sm
                font-medium
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
                disabled:opacity-50
                disabled:hover:bg-indigo-600
                disabled:cursor-not-allowed
              "
            >
              <div class="flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="ml-2 inline-block"> Delete Files </span>
              </div>
            </button>
          </div>
          <div>
            <label class="inline-flex mr-2">Search File:</label>
            <input
              class="
                bg-gray-50
                border border-gray-200 border-solid
                rounded-md
                p-2
                leading-none
              "
              v-model="searchTerm"
            />
          </div>
        </div>
        <table-lite
          :is-static-mode="true"
          :has-checkbox="true"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          :page-size="25"
          @return-checked-rows="updateCheckedRows"
        ></table-lite>
      </div>
    </div>
  </main>
</template>

<script>
import { defineComponent, reactive, ref, computed } from "vue";
import Navbar from "../components/Navbar.vue";
import TableLite from "vue3-table-lite";

export default {
  name: "Records",
  components: {
    Navbar,
    TableLite,
  },
  data() {
    return {
      name: null,
    };
  },
  setup() {
    const searchTerm = ref(""); // Search text

    const data = reactive([]);
    axios.get("/api/estamp-records").then((response) => {
      //this.estampJobs = response.data;
      //console.log(response.data);
      const records = response.data;
      for (let i = 0; i < records.length; i++) {
        let date = new Date(response.data[i].created_at);
        data.push({
          id: response.data[i].id,
          upload_name: "final_" + response.data[i].upload_name,
          sn_result: response.data[i].sn_result,
          created_at: date.toLocaleDateString("id-ID"),
          download_url: response.data[i].download_url,
        });
      }
    });

    // Init Your table settings
    const table = reactive({
      columns: [
        {
          label: "Doc ID",
          field: "id",
          width: "12%",
          sortable: true,
          isKey: true,
        },
        {
          label: "File name",
          field: "upload_name",
          width: "35%",
          sortable: true,
        },
        {
          label: "Serial Number",
          field: "sn_result",
          width: "21%",
          sortable: false,
        },
        {
          label: "Created at",
          field: "created_at",
          width: "20%",
          sortable: true,
        },
        {
          label: "",
          field: "action",
          width: "12%",
          display: function (row) {
            return (
              '<div class="text-center"><a download href="' +
              row.download_url +
              '" data-id="' +
              row.id +
              '" class="download-doc-btn inline-flex items-center p-1 ml-1 rounded shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:border-none focus:outline-none focus:ring-0 focus:ring-indigo-500" ><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" /></svg></a></div>'
            );
          },
        },
      ],
      rows: computed(() => {
        return data.filter((x) =>
          x.upload_name.toLowerCase().includes(searchTerm.value.toLowerCase())
        );
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      sortable: {
        order: "id",
        sort: "desc",
      },
    });

    let download_ids = reactive([]);
    const canDownload = ref(0);

    const updateCheckedRows = (rowsKey) => {
      //console.log(rowsKey);
      //this.download_ids = rowsKey;
      //this.setDownloadIds(rowsKey);
      download_ids = rowsKey;
      if (download_ids.length) {
        canDownload.value = 1;
      } else {
        canDownload.value = 0;
      }
      // console.log(canDownload.value);
      // console.log(download_ids);
    };

    function downloadSelectedDocs() {
      //const download_ids = this.download_ids;
      //console.log(download_ids);
      const qs = require("qs");

      const params = {
        //        files: download_ids,
        params: {
          files: download_ids,
        },
        paramsSerializer: (params) => {
          return qs.stringify(params, { arrayFormat: "brackets" });
        },
      };
      axios
        .get("/api/estamp-queue/download-selected", params)
        .then((response) => {
          //console.log(response.data);
          let downloadUrl = response.data.downloadUrl;
          let fileName = response.data.fileName;
          axios({
            url: downloadUrl,
            method: "GET",
            responseType: "blob",
          }).then((res) => {
            //console.log(res.data);
            var FileSaver = require("file-saver");
            var blob = new Blob([res.data], { type: "application/zip" });
            FileSaver.saveAs(blob, fileName);
          });
        });
    }

    function deleteSelectedDocs() {
      const qs = require("qs");

      const params = {
        //        files: download_ids,
        params: {
          files: download_ids,
        },
        paramsSerializer: (params) => {
          return qs.stringify(params, { arrayFormat: "brackets" });
        },
      };

      //console.log(params);
      axios.delete("/api/delete-selected", params).then((response) => {
        console.log(response.data);
      });
    }

    return {
      searchTerm,
      table,
      updateCheckedRows,
      download_ids,
      downloadSelectedDocs,
      deleteSelectedDocs,
      canDownload,
    };
  },
  mounted() {},
  computed: {},
  methods: {
    setDownloadIds(payload) {
      this.download_ids = payload;
    },
    async getEstampJobs() {
      await axios.get("/api/estamp-records").then((response) => {
        //this.estampJobs = response.data;
        console.log(response.data);
      });
    },
    async downloadQueueDoc(job_id) {
      await axios
        .get("/api/estamp-queue/download/" + job_id)
        .then((response) => {
          //console.log(response);
          let downloadUrl = response.data.downloadUrl;
          let fileName = response.data.fileName;
          axios({
            url: downloadUrl,
            method: "GET",
            responseType: "blob",
          }).then((res) => {
            //console.log(res.data);
            var FileSaver = require("file-saver");
            var blob = new Blob([res.data], { type: "application/pdf" });
            FileSaver.saveAs(blob, fileName);
          });
        });
    },
  },
};
</script>

<style scoped>
::v-deep(.card) {
  padding: 0;
}
::v-deep(.card .row) {
  margin-right: 0;
  margin-left: 0;
}
::v-deep(.vtl-table) {
  font-size: 14px;
}
::v-deep(.vtl-paging) {
  font-size: 14px;
}
::v-deep(.vtl-tbody) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

::v-deep(.table .thead-dark .vtl-thead-th) {
  background-color: rgb(31 41 55);
}
::v-deep(.table-bordered td) {
  border-right: none;
  border-left: none;
  border-bottom: none;
}
::v-deep(.table-bordered th) {
  border-right: none;
  border-left: none;
  border-bottom: none;
}
::v-deep(.vtl-paging) {
  align-items: center;
}
::v-deep(.vtl-paging-info) {
  color: #6c757d;
}
::v-deep(.vtl-paging-change-div) {
  color: #6c757d;
  text-align: center;
}
::v-deep(select) {
  padding: 4px;
  margin-right: 10px;
  margin-left: 4px;
  border-radius: 3px;
}
</style>
