<template>
  <navbar />
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">E-Meterai</h1>
    </div>
  </header>
  <main>
    <div class="max-w-2xl mx-auto py-6 sm:px-6 lg:px-8 lg:py-12">
      <file-pond
        name="upload_docs"
        ref="uploadDocs"
        label-idle="Drag & Drop your files here or <span class='underline cursor-pointer'> Browse </span>"
        accepted-file-types="image/jpeg, application/pdf"
        v-bind:allow-browse="true"
        v-bind:allow-multiple="true"
        v-bind:server="uploadServer"
        v-on:processfile="processDocs"
        v-on:removefile="removeDocs"
        credits="false"
      />
    </div>
    <div
      v-if="hasQueue"
      class="max-w-screen-xl mx-auto pb-4 sm:px-6 lg:px-8 lg:pb-12"
    >
      <div
        class="
          shadow
          overflow-hidden
          border-b border-gray-200
          mb-4
          lg:mb-6
          sm:rounded-lg
        "
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              No
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              File Name
            </th>
            <th
              scope="col"
              class="
                px-6
                py-3
                text-left text-xs
                font-medium
                text-gray-500
                uppercase
                tracking-wider
              "
            >
              Status
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Action</span>
            </th>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="job in estampJobs" :key="job.id">
              <td class="w-1/12 px-6 py-4 whitespace-nowrap">{{ job.id }}</td>
              <td class="w-6/12 px-6 py-4 whitespace-nowrap">
                {{ job.upload_name }}
              </td>
              <td class="w-4/12 px-6 py-4 whitespace-nowrap">
                {{ job.estamp_job_status }}
              </td>
              <td class="w-2/12 px-6 py-4 whitespace-nowrap text-right text-sm">
                <button
                  v-if="!processing"
                  onclick="confirm('Are you sure you wanna delete this Record?') || event.stopImmediatePropagation()"
                  class="
                    inline-flex
                    items-center
                    p-1
                    border border-transparent
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:outline-none focus:ring-0 focus:ring-red-500
                  "
                  @click="deleteQueueDoc(job.id)"
                >
                  <TrashIcon class="h-5 w-5" aria-hidden="true" />
                </button>
                <a
                  v-if="job.estamp_job_status == 'Completed'"
                  class="
                    inline-flex
                    items-center
                    p-1
                    ml-1
                    border border-transparent
                    rounded
                    shadow-sm
                    text-sm
                    font-medium
                    text-white
                    bg-indigo-600
                    hover:bg-indigo-700
                    focus:outline-none focus:ring-0 focus:ring-indigo-500
                  "
                  @click="downloadQueueDoc(job.id)"
                >
                  <DownloadIcon class="h-5 w-5" aria-hidden="true" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center">
        <button
          type="button"
          @click="processStamping()"
          class="
            inline-flex
            items-center
            px-4
            py-2
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
          "
        >
          <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
          Process Files
        </button>
      </div>

      <div class="text-center text-red-500 mt-8">
        {{ errorMessage }}
      </div>
    </div>
  </main>
</template>

<script>
import { BadgeCheckIcon, TrashIcon, DownloadIcon } from "@heroicons/vue/solid";
//import { mutateFields } from "../helpers/helpers.js";
import Navbar from "../components/Navbar.vue";
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
const FilePond = vueFilePond(FilePondPluginFileValidateType);
import { saveAs } from "file-saver";

export default {
  name: "Upload Doc",
  components: {
    Navbar,
    FilePond,
    BadgeCheckIcon,
    TrashIcon,
    DownloadIcon,
  },
  data() {
    return {
      login_token: this.$store.state.login_token,
      upload_docs: [],
      uploadDocs: [],
      uploadServer: {
        url: "/api/upload",
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]')
            .content,
        },
      },
      estampJobs: {},
      queue_folder:
        "/Users/fransnico/Local Sites/emeterai/storage/app/public/uploads/queue/",
      getEstampJobsUrl: "",
      isError: false,
      errorMessage: "",
      hasQueue: false,
      processing: false,
    };
  },
  // computed: {
  //   ...mutateFields({
  //     fields: ["upload_docs"],
  //     base: "fields",
  //     mutation: "UPDATE_FIELD",
  //   }),
  // },
  mounted() {
    //console.log(this.csrfToken);
    // if (this.upload_docs) {
    //   this.uploadDocs = [
    //     {
    //       source:
    //         "/storage/uploads/tmp/" + this.upload_docs + "/Fransnico-KTP.jpg",
    //       options: {
    //         type: "local",
    //       },
    //     },
    //   ];
    // }
    //this.upload_docs = [];
    //this.$store.commit("resetUploadDocs", []);
    //this.$store.dispatch("resetFormState");
    //localStorage.removeItem("emeterai");
    this.resetUploadDocs();
    this.getEstampJobs();
  },
  methods: {
    processDocs(error, file) {
      let payload = {
        folder: file.serverId,
      };
      this.$store
        .dispatch("addToQueue", payload)
        .then((response) => {
          this.getEstampJobs();
        })
        .catch(function (error) {
          console.log(error);
        });
      this.$refs.uploadDocs.removeFile(file);
    },
    removeDocs(error, file) {
      this.$refs.uploadDocs.removeFile(file);
    },
    deleteQueueDoc(job_id) {
      axios.delete("/api/estamp-queue/delete/" + job_id).then((response) => {
        //this.$toast.success("File deleted successfully");
        this.getEstampJobs();
      });
    },
    async downloadQueueDoc(job_id) {
      await axios
        .get("/api/estamp-queue/download/" + job_id)
        .then((response) => {
          //console.log(response);
          let downloadUrl = response.data.downloadUrl;
          let fileName = response.data.fileName;
          axios({
            url: downloadUrl,
            method: "GET",
            responseType: "blob",
          }).then((res) => {
            //console.log(res.data);
            var FileSaver = require("file-saver");
            var blob = new Blob([res.data], { type: "application/pdf" });
            FileSaver.saveAs(blob, fileName);
          });
        });
    },
    resetUploadDocs() {
      this.upload_docs = [];
      this.$store.commit("resetUploadDocs", []);
    },
    async getEstampJobs() {
      this.getEstampJobsUrl = "/api/estamp-jobs";
      await axios.get(this.getEstampJobsUrl).then((response) => {
        this.estampJobs = response.data;
        if (this.estampJobs.length) {
          this.hasQueue = true;
        }
      });
    },

    async processStamping() {
      this.isError = false;
      this.errorMessage = "";
      this.processing = true;
      await this.getToken().then((response) => {
        //console.log(response);
        if (!this.isError) {
          this.peruriUploadDoc();
        }
      });
    },
    async getToken() {
      const data = JSON.stringify({
        user: "semesta_indovest@yopmail.com",
        password: "Peruri@123",
      });
      const config = {
        method: "post",
        url: "https://backendservicedev.scm.perurica.co.id/api/users/login",
        headers: {
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJlbWFpbCI6InNlbWVzdGFfaW5kb3Zlc3RAeW9wbWFpbC5jb20iLCJpYXQiOjE2NDMwODI0MTIsImV4cCI6MTY0MzE2ODgxMiwiYXVkIjoiaHR0cHM6Ly95b3VyZG9tYWluLmNvbSIsImlzcyI6ImZlYXRoZXJzIiwic3ViIjoiNjE3NjVlYWZmYzIyYjMwMDI4ZWVhNTU5IiwianRpIjoiNGJlN2VlMGEtOTUwNS00ZGFmLTk2NWUtOGVkOTMwZGNhOGUxIn0.IbK_reCWJHKRclOMtwaoR6ReSaFQ7NGqJv9qgqMLsDk",
          "Content-Type": "application/json",
        },
        data: data,
      };
      await axios(config)
        .then((response) => {
          //console.log(response);
          if (response.data.statusCode == "00") {
            this.login_token = response.data.token;
            this.$store.commit("setLoginToken", response.data.token);
          } else {
            this.isError = true;
            this.errorMessage = response.data.result;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async peruriUploadDoc() {
      await axios.get("/api/estamp-jobs").then((response) => {
        //console.log(response.data);
        const queue = response.data;
        for (let i = 0; i < queue.length; i++) {
          const login_token = this.login_token;
          let folder = queue[i].folder;
          let filename = queue[i].upload_name;
          let peruriUploadPayload = {
            id: queue[i].id,
            file_path: this.queue_folder + folder + "/" + filename,
            token: login_token,
          };
          if (!this.isError) {
            this.estampJobs[i].estamp_job_status = "Uploading Doc...";
            this.$store
              .dispatch("peruriUploadDoc", peruriUploadPayload)
              .then((response) => {
                //console.log(response);
                if (response.statusCode == "00") {
                  const id = response.id;
                  const idfile = response.uploadId;
                  const namafile = response.saveAs;
                  const nodoc = response.noDoc;
                  const tgldoc = response.tglDoc;
                  const login_token = this.login_token;
                  //console.log(idfile, namafile, nodoc, tgldoc);
                  let generateSnPayload = {
                    queue_id: i,
                    token: login_token,
                    id: id,
                    idfile: idfile,
                    namafile: namafile,
                    nodoc: nodoc,
                    tgldoc: tgldoc,
                  };
                  this.peruriGenerateSn(generateSnPayload);
                } else {
                  this.isError = true;
                  this.errorMessage = response.message;
                }
              })
              .catch(function (error) {
                console.log(error);
                return;
              });
          }
        }
      });
    },
    async peruriGenerateSn(payload) {
      this.estampJobs[payload.queue_id].estamp_job_status = "Generate SN...";
      //console.log(payload);
      await this.$store
        .dispatch("peruriGenerateSn", payload)
        .then((response) => {
          //console.log(response);
          if (response.statusCode == "00") {
            const id = payload.id;
            const login_token = this.login_token;
            const idfile = payload.idfile;
            const fileStamp = "/sharefolder/final_" + payload.idfile + ".pdf";
            const serialNumber = response.serialNumber;
            const fileQr = "/sharefolder/" + response.fileQr;
            const file = "/sharefolder/doc_" + payload.idfile + ".pdf";
            let stampingPayload = {
              queue_id: payload.queue_id,
              id: id,
              token: login_token,
              docId: idfile,
              dest: fileStamp,
              refToken: serialNumber,
              spesimenPath: fileQr,
              src: file,
            };
            //console.log(stampingPayload);
            this.peruriStamping(stampingPayload);
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async peruriStamping(payload) {
      //console.log(payload);
      this.estampJobs[payload.queue_id].estamp_job_status = "Stamping...";
      await this.$store
        .dispatch("peruriStamping", payload)
        .then((response) => {
          //console.log(response);
          const login_token = this.login_token;
          //const nodoc = response.nodoc;
          //const tgldoc = response.tgldoc;
          //console.log(idfile, namafile, nodoc, tgldoc);
          let downloadPayload = {
            queue_id: payload.queue_id,
            id: payload.id,
            token: login_token,
            srcfileStamp: response.urlFile,
          };
          this.peruriDownload(downloadPayload);
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
    async peruriDownload(payload) {
      //console.log(payload);
      await this.$store
        .dispatch("peruriDownload", payload)
        .then((response) => {
          //console.log(response);
          this.estampJobs[payload.queue_id].estamp_job_status = "Completed";
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
  },
};
</script>