<template>
  <navbar />
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Upload Doc</h1>
    </div>
  </header>
  <main>
    <div class="max-w-2xl mx-auto py-6 sm:px-6 lg:px-8 lg:py-12">
      <file-pond
        name="upload_docs"
        ref="uploadDocs"
        label-idle="Drag & Drop your files or <span class='filepond--label-action'> Browse </span>"
        v-bind:allow-multiple="true"
        accepted-file-types="image/jpeg, application/pdf"
        v-bind:server="uploadServer"
        v-bind:files="uploadDocs"
        v-on:processfile="processDocs"
        v-on:removefile="removeDocs"
        credits="false"
      />
      <div class="flex justify-center">
        <button
          type="button"
          @click="addToQueue()"
          class="
            inline-flex
            items-center
            px-4
            py-2
            mx-4
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
          "
        >
          <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
          Add to Queue
        </button>
        <button
          type="button"
          @click="processStamping()"
          class="
            inline-flex
            items-center
            px-4
            py-2
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
          "
        >
          <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
          Process Files
        </button>
        <button
          type="button"
          @click="resetUploadDocs()"
          class="
            inline-flex
            ml-4
            items-center
            px-4
            py-2
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
          "
        >
          <BadgeCheckIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
          Reset
        </button>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto py-6 sm:px-6 lg:px-8 lg:py-12">
      <table class="w-full">
        <thead>
          <th>ID</th>
          <th>File Name</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="job in estampJobs" :key="job.id">
            <td>{{ job.id }}</td>
            <td>{{ job.upload_name }}</td>
            <td>{{ job.estamp_job_status }}</td>
            <td>
              <button
                onclick="confirm('Are you sure you wanna delete this Record?') || event.stopImmediatePropagation()"
                class="text-sm p-2 rounded bg-red-500 text-white"
                @click="deleteSingleRecord(job.id)"
              >
                <TrashIcon class="h-5 w-5" aria-hidden="true" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</template>

<script>
import { reactive } from "vue";
import { BadgeCheckIcon, TrashIcon } from "@heroicons/vue/solid";
import { mutateFields } from "../helpers/helpers.js";
import Navbar from "../components/Navbar.vue";
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
const FilePond = vueFilePond(FilePondPluginFileValidateType);
import TableLite from "vue3-table-lite";

export default {
  name: "Upload Doc",
  components: {
    Navbar,
    BadgeCheckIcon,
    TrashIcon,
    FilePond,
    TableLite,
  },
  setup() {
    // Init Your table settings
    const table = reactive({
      isLoading: false,
      columns: [
        {
          label: "ID",
          field: "id",
          width: "5%",
          sortable: true,
          isKey: true,
        },
        {
          label: "File name",
          field: "upload_name",
          width: "80%",
          sortable: true,
        },
        {
          label: "Status",
          field: "estamp_job_status",
          width: "15%",
          sortable: true,
        },
      ],
      rows: [],
      totalRecordCount: 0,
      sortable: {
        order: "id",
        sort: "asc",
      },
    });
    /**
     * Table search event
     */
    const doSearch = (offset, limit, order, sort) => {
      table.isLoading = true;

      // Start use axios to get data from Server
      //let url = 'https://www.example.com/api/some_endpoint?offset=' + offset + '&limit=' + limit + '&order=' + order + '&sort=' + sort;
      let url = "/api/estamp-jobs?order=" + order + "&sort=" + sort;
      axios.get(url).then((response) => {
        // refresh table rows
        table.rows = response.data.rows;
        table.totalRecordCount = response.data.count;
        table.sortable.order = order;
        table.sortable.sort = sort;
      });
      // End use axios to get data from Server
    };

    /**
     * Table search finished event
     */
    const tableLoadingFinish = (elements) => {
      table.isLoading = false;
    };

    // Get data first
    doSearch(0, 10, "id", "asc");

    return {
      table,
      doSearch,
      tableLoadingFinish,
    };
  },
  data() {
    return {
      login_token: this.$store.state.login_token,
      upload_docs: [],
      uploadDocs: [],
      uploadServer: {
        url: "/api/upload",
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]')
            .content,
        },
        load: (source, load) => {
          // simulates loading a file from the server
          fetch(source)
            .then((res) => res.blob())
            .then(load);
        },
      },
      estampJobs: {},
      getEstampJobsUrl: "",
    };
  },
  // computed: {
  //   ...mutateFields({
  //     fields: ["upload_docs"],
  //     base: "fields",
  //     mutation: "UPDATE_FIELD",
  //   }),
  // },
  mounted() {
    //console.log(this.csrfToken);
    // if (this.upload_docs) {
    //   this.uploadDocs = [
    //     {
    //       source:
    //         "/storage/uploads/tmp/" + this.upload_docs + "/Fransnico-KTP.jpg",
    //       options: {
    //         type: "local",
    //       },
    //     },
    //   ];
    // }
    //this.upload_docs = [];
    //this.$store.commit("resetUploadDocs", []);
    //this.$store.dispatch("resetFormState");
    //localStorage.removeItem("emeterai");
    this.resetUploadDocs();
    this.getEstampJobs();
  },
  watch: {
    // search: function(value) {
    //   this.getEstampJobs();
    // },
  },
  methods: {
    async getEstampJobs() {
      this.getEstampJobsUrl = "/api/estamp-jobs";
      await axios.get(this.getEstampJobsUrl).then((response) => {
        this.estampJobs = response.data;
        //console.log(this.estampJobs);
        //console.log(response.data);
      });
    },
    processDocs(error, file) {
      //this.upload_docs = file.serverId;
      //console.log(file.serverId);
      //console.log(file);
      //console.log(this.upload_docs);
      //this.upload_docs.push(file.serverId);
      //this.$store.commit("addUploadDocs", file.serverId);
      let filePath =
        "/Users/fransnico/Local Sites/emeterai/storage/app/public/uploads/tmp/" +
        file.serverId +
        "/" +
        file.filename;
      let processPayload = {
        id: file.serverId,
        filename: file.filename,
        filepath: filePath,
      };
      this.upload_docs.push(processPayload);
      this.$store.commit("addUploadDocs", processPayload);
    },
    removeDocs(error, file) {
      //this.upload_docs = [];
      //console.log(file);
      const docId = file.serverId;
      const i = this.upload_docs.findIndex((item) => item.id === docId);
      this.upload_docs.splice(i, 1);
      this.$store.commit("removeUploadedDoc", docId);
    },
    resetUploadDocs() {
      this.upload_docs = [];
      this.$store.commit("resetUploadDocs", []);
    },
    addToQueue() {
      const queue = this.$store.getters.upload_docs;
      console.log(queue);
      for (let i = 0; i < queue.length; i++) {
        //let folder = this.$store.getters.upload_docs[i].id;
        const payload = {
          folder: this.$store.getters.upload_docs[i].id,
        };
        this.$store
          .dispatch("addToQueue", payload)
          .then((response) => {
            console.log(response);
            this.getEstampJobs();
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    processStamping() {
      this.peruriUploadDoc();
    },
    async peruriUploadDoc() {
      //console.log(this.upload_docs[0]);
      const queue = this.$store.getters.upload_docs;
      //const queue = this.upload_docs;
      //console.log(this.$store.getters.upload_docs);
      console.log(queue);
      // console.log(queue.length);
      for (let i = 0; i < queue.length; i++) {
        const login_token = this.login_token;
        let peruriUploadPayload = {
          file_path: this.$store.getters.upload_docs[i].filepath,
          token: login_token,
        };
        let folder = this.$store.getters.upload_docs[i].id;
        await this.$store
          .dispatch("peruriUploadDoc", peruriUploadPayload)
          .then((response) => {
            //console.log(response);
            //this.account_id = response.id;
            console.log(response);
            const idfile = response.id;
            const namafile = response.saveAs;
            let getDocIdPayload = {
              folder: folder,
              idfile: idfile,
              namafile: namafile,
            };
            this.peruriGetDocId(getDocIdPayload);
          })
          .catch(function (error) {
            console.log(error);
            return;
          });
      }
    },
    async peruriGetDocId(payload) {
      const idfile = payload.idfile;
      const namafile = payload.namafile;
      await this.$store
        .dispatch("peruriGetDocId", payload)
        .then((response) => {
          console.log(response);
          const nodoc = response.nodoc;
          const tgldoc = response.tgldoc;
          const login_token = this.login_token;
          //console.log(idfile, namafile, nodoc, tgldoc);
          let generateSnPayload = {
            token: login_token,
            idfile: idfile,
            namafile: namafile,
            nodoc: nodoc,
            tgldoc: tgldoc,
          };
          this.peruriGenerateSn(generateSnPayload);
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
    async peruriGenerateSn(payload) {
      console.log(payload);
      await this.$store
        .dispatch("peruriGenerateSn", payload)
        .then((response) => {
          console.log(response);
          const login_token = this.login_token;
          const idfile = payload.idfile;
          const fileStamp = "/sharefolder/final_" + payload.idfile + ".pdf";
          const serialNumber = response.result.sn;
          const fileQr = "/sharefolder/" + response.result.filenameQR;
          const file = "/sharefolder/doc_" + payload.idfile + ".pdf";
          let stampingPayload = {
            token: login_token,
            docId: idfile,
            dest: fileStamp,
            refToken: serialNumber,
            spesimenPath: fileQr,
            src: file,
          };
          this.peruriStamping(stampingPayload);
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
    async peruriStamping(payload) {
      console.log(payload);
      await this.$store
        .dispatch("peruriStamping", payload)
        .then((response) => {
          console.log(response);
          const login_token = this.login_token;
          //const nodoc = response.nodoc;
          //const tgldoc = response.tgldoc;
          //console.log(idfile, namafile, nodoc, tgldoc);
          let downloadPayload = {
            token: login_token,
            srcfileStamp: response.urlFile,
          };
          this.peruriDownload(downloadPayload);
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
    async peruriDownload(payload) {
      console.log(payload);
      await this.$store
        .dispatch("peruriDownload", payload)
        .then((response) => {
          console.log(response);
          //const nodoc = response.nodoc;
          //const tgldoc = response.tgldoc;
          //console.log(idfile, namafile, nodoc, tgldoc);
        })
        .catch(function (error) {
          console.log(error);
          return;
        });
    },
    peruriDownloadAxios() {
      let config = {
        method: "get",
        url: "https://fileuploaddev.scm.perurica.co.id/getfile3/final_3af995e7-33e0-43ad-8379-a805d5deb58f.pdf",
        headers: {
          "Content-Type": "application/pdf",
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJlbWFpbCI6InNlbWVzdGFfaW5kb3Zlc3RAeW9wbWFpbC5jb20iLCJpYXQiOjE2NDQxNzIzMDMsImV4cCI6MTY0NDI1ODcwMywiYXVkIjoiaHR0cHM6Ly95b3VyZG9tYWluLmNvbSIsImlzcyI6ImZlYXRoZXJzIiwic3ViIjoiNjE3NjVlYWZmYzIyYjMwMDI4ZWVhNTU5IiwianRpIjoiMDhkNmQ0MmMtYWMwMC00MjFlLWJmOTgtZmJkMWEwOWFlNjU5In0.P29LWgKy40Rm3Ig5DiphJ3FGUxvisYT6hQyomi2X3Aw",
        },
      };

      axios(config)
        .then((response) => {
          console.log(JSON.stringify(response.data));
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>